<footer class="md-bottom-nav-bar bg-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-md">
        <a class="text-decoration-none" href="{{ '/' | relative_url}}">
          <img class="brand" src="{{ '/assets/images/xecom.png' | relative_url }}">
          <div class="text-body font-weight-bold mt-1">
            Xecom Marketing & Services Co.
            <small>(55880)</small>
          </div>
        </a>
        <div class="mt-2">
          {{ site.address }}
          <br>
          <a href="{{ site.address_link }}">
            1°29'54.8"N 110°22'18.0"E
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>